/Java-Aplication/webmanagement/api-gateway/api-gateway.iml
/Java-Aplication/webmanagement/core-common/core-common.iml
/Java-Aplication/webmanagement/core-dao/core-dao.iml
/Java-Aplication/webmanagement/core-dao-impl/core-dao-impl.iml
/Java-Aplication/webmanagement/core-data/core-data.iml
/Java-Aplication/webmanagement/core-dto/core-dto.iml
/Java-Aplication/webmanagement/core-persistence-data/core-persistence-data.iml
/Java-Aplication/webmanagement/core-service/core-service.iml
/Java-Aplication/webmanagement/core-service-impl/core-service-impl.iml
/Java-Aplication/webmanagement/core-utils/core-utils.iml
/Java-Aplication/webmanagement/core-web/core-web.iml
/Java-Aplication/webmanagement/web-front-end/web-front-end.iml
/Java-Aplication/webmanagement/webmanagement.iml
/Java-Aplication/webmanagement/.idea/workspace.xml
/Java-Aplication/webmanagement/.idea
/Java-Aplication/webmanagement/web-logic/web-logic.iml
/Java-Aplication/webmanagement/api-gateway/target
/Java-Aplication/webmanagement/core-common/target
/Java-Aplication/webmanagement/core-dao/target
